.post-container {
    display: flex;
    justify-content: center;

    .post-text{
        display: flex;
        flex-direction: column;
        width: 1000px;
        background: aliceblue;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .submit{
        background-color: moccasin;
    }
  }