<div class="home">    
    <div class="header">
        <app-user-section (onLogoutClick)="onLogoutClick()" [isUserLoggedIn]="isUserLoggedIn"></app-user-section>
    </div>
    <div class="content">
        <div>
            <a mat-button class="new-post" routerLink="/new-post">Add a new post</a>
        </div>
        <mat-card appSlideAnimation class="news-container" *ngFor="let news of newsList">
            <div class="news-content">
                <mat-card-content>{{news.content}}</mat-card-content> 
            </div>
            <div class="info">
                <mat-card-content>Author: {{news.authorEmail}}</mat-card-content>
                <mat-card-content>{{news.postedDate | date: 'short'}}</mat-card-content>
            </div> 
        </mat-card>
    </div>
    
</div>

