<div class="home">    
    <div class="header">
        <app-user-section [isUserLoggedIn]="isUserLoggedIn"></app-user-section>
    </div>
    <div class="content">
        <div>
            <a class="new-post" routerLink="/new-post">Add a new post</a>
        </div>
        <div appSlideAnimation class="news-container" *ngFor="let news of newsList">
            <div class="form-group news-content">
                <div>{{news.content}}</div> 
            </div>
            <div class="form-group info">
                <span>Author: {{news.authorEmail}}</span>
                <span>{{news.postedDate | date: 'short'}}</span>
            </div> 
        </div>
    </div>
    
</div>

