<div class="home">    
    <div class="header">
        <div class="register-container" [hidden]="loggedIn">
            <a class="login" routerLink="/login">Login</a>
            <a class="register" routerLink="/register">Register</a>
        </div>
    </div>
    <div class="content">
        <div class="new-post-container">
                <form (submit)="createNewsPost($event)">
                    <div>
                        <input type="text" autocomplete="off" placeholder="Content" id="content">
                    </div>
                    <div>
                        <button type="submit" autocomplete="off" id="submit">Submit</button>
                    </div>
                </form>
            </div>
            
            <div class="news-container" *ngFor="let news of newsList">
                <div class="news-content">
                        {{news.content}}
                </div>
                <div class="author">
                    <span>Author: {{news.authorEmail}}</span>
                </div> 
                <div class="posted-date">
                    <span>{{news.postedDate | date: 'short'}}</span>
                </div>  
            </div>
    </div>
    
</div>

