<form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="container"> 
        <mat-form-field>
            <input matInput  class="form-control" type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput  class="form-control" type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput  class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <button mat-button class="submit" type="submit" [disabled]="!registerForm.valid">Submit</button>
    </div>    
</form>

