<form (submit)="registerUser($event)">
    <div class="container">
        <div>
            <input type="text" autocomplete="off" placeholder="Email" id="email">
        </div>
        <div>
            <input type="password" autocomplete="off" placeholder="Password" id="password">
        </div>
        <div>
            <input type="password" autocomplete="off" placeholder="Confirm Password" id="confirmPassword">
        </div>
        <div>
            <button type="submit" autocomplete="off" id="submit">Submit</button>
        </div>
    </div>
</form>
